body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e3f2fd;
}

main {
  width: 780px;
  padding: 35px 40px;
  border-radius: 20px;
  background-color: #000;

}

main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

header h2 {
  font-size: 1.6rem;
}

header .column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header .column span {
  font-weight: 500;
  font-size: 1.2rem;
  margin-right: 15px;
}

.volume-slider input {
  accent-color: #fff;
  cursor: pointer;
}

.toggle-keys input {
  width: 60px;
  height: 30px;
  position: relative;
  border-radius: 30px;
  appearance: none;
  background-color: #4b4b4b;
  cursor: pointer;
}

.toggle-keys input::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  background-color: #8c8c8c;
  top: 50%;
  left: 5%;
  border-radius: inherit;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.toggle-keys input:checked::before {
  left: 60%;
  background-color: #f0f0f0;
}


.piano-keys {
  display: flex;
  margin-top: 40px;
  color: #fff;
  justify-content: space-between;
  margin-top: 20px;
}

.key {
  cursor: pointer;
  list-style: none;
  color: #a2a2a2;
  user-select: none;
  position: relative;
  text-transform: uppercase;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
}

.piano-keys .white {
  width: 70px;
  height: 230px;
  border-radius: 8px;
  background: linear-gradient(#eee, #e9e9e0);
}

.piano-keys .white:active, .piano-keys .white.active {
  background: linear-gradient(#fff 0%, #eee 100%);
  box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
}


.piano-keys .black {
  width: 44px;
  height: 140px;
  z-index: 2;
  margin: 0 -22px 0 -22px;
  border-radius: 0 0 5px 5px;
  background: linear-gradient( #444, #111);
}

.piano-keys .black:active, .piano-keys .black.active {
  background: linear-gradient(#000 0%, #434 100%);
  box-shadow: inset -5px 5px 10px rgba(255,255,255,0.1);
}

.piano-keys.hidden .key span{
  display: none;
}